.hero {
  width: 80%;
  margin: 6vmax auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hero form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero input {
  height: 4vmax;
  background-color: whitesmoke;
  flex: 1;
  font-size: 1.5vmax;
  padding-left: 10px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
}

.hero button {
  height: 4vmax;
  padding: 10px auto;
  border: none;
  background: green;
  color: whitesmoke;
  margin: 5px;
  font-size: 1.5vmax;
  border-radius: 5px;
  cursor: pointer;
}

.crypto-table {
  max-width: 100%;

  background: whitesmoke;
  border-radius: 2%;
  padding: 15px;
}

.table-layout {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1.5fr 1fr;
}

.crypto-table div:first-child {
  border-bottom: 1px solid greenyellow;
  font-weight: bolder;
}

.table-layout div {
  display: flex;
  align-items: center;
}

.table-layout div img {
  width: 30px;
}

.table-layout .green {
  padding: 10px;
  color: green;
}
.table-layout .red {
  padding: 10px;
  color: red;
}

Link {
  border: none;
}

@media screen and (max-width: 800px) {
  button {
    width: 100%;
  }
  .table-layout {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1.3fr 1fr;
    align-items: center;
  }
}
