.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: black;
}

.navbar .logo {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}
.active {
  color: green;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.logo svg {
  font-size: 2rem;
}

.logo p {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.logo p span {
  color: green;
}

.navbar ul {
  margin-left: -120px;
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar li {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}

.navbar select {
  background: transparent;
  color: black;
  border-radius: 0px;
  font-size: 1.2rem;
  border: none;
}

.navbar option {
  background: white;
  color: black;
  border-radius: 0px;
  border: none;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 8%;
  }
  .navbar ul {
    display: none;
  }
}
