.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  margin: 2vh;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.2vmax;
  font-weight: 500;
}

.logo p span {
  color: green;
}

.navbar ul {
  margin: 10px;
  list-style: none;
  display: flex;
  gap: 2vmax;
  text-decoration: none;
  font-size: 1.5vmax;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: green;
}

.navbar select {
  background: transparent;
  color: black;
  font-size: 1.5vmax;
  border: none;
}
.navbar option {
  background: green;
  color: black;
  font-size: 1.5vmax;
  border: none;
}

@media screen and (max-width: 500px) {
  .logo p {
    display: none;
  }
}

/* 




.logo {
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.logo svg {
  font-size: 2rem;
}

.logo p {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.

.navbar ul {
  display: flex;
  gap: 40rem;
  list-style: none;
}

.navbar li {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.navbar select {
  background: transparent;
  color: black;
  border-radius: 0rem;
  font-size: 1.2rem;
  border: none;
}

.navbar option {
  background: white;
  color: black;
  border-radius: 0rem;
  border: none;
  font-size: 1.2rem;
} */
